/* You can add global styles to this file, and also import other style files */
body{
  text-align: right;
    direction: rtl;
 background-image : url("../src/assets/images/yzanz1czfutdd0drsfyomievluhous21h57xb38xn41glvcibaev5hj15rw20tkf-.jpg");
 font-style: italic;
 background-size:cover;
 background-attachment: fixed;
}

