.hhh{font-size: 20px;
font-weight: bold; 
color: black;
direction: ltr;
 text-align: right;
border: 2px solid black;
border-radius: 2px;
background-color:rgba(199, 141, 120, 0.623);
float: right;
height: 550px;
}
